/* Make the background height the full size of the page */
html {
    height: 100%;
  }
/* Give the body a font-family of sans-serif, set a nice linear gradient for the background, and set padding and margin to 0. Set
background to no-repeat and make it fixed so the gradient follows the page and doesnt tile*/
body {
  font-family: sans-serif;
  background: linear-gradient(to bottom, black, cyan);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Align the header to the center of the page, and give it some padding to rest nicely. */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
}
/* Set the text color of the header to white to stand out against the darker part of the gradient */
h1 {
  color: white;
}
/* Set the main section's padding so the content rests inset a bit in the center */
main {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
/* Set the border radius to a rounded corner, width to a pixel, and add a box-shadow to the right and bottom. Set the color of the text to a nice grey, the font size, and the margin to 0 auto.
Give it a max-width of 800 pixels so it says proportionately inset, some nice padding, and a linear gradient background going the opposite way */
article {
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  background: linear-gradient(to bottom, cyan, black);
}
/* Add a gradient border under the textbox, make it block, and give it a modest height to make it a line. */
#card-header::after {
  content: " ";
  display: block;
  background: linear-gradient(to right, cyan 60%, black);
  height: 2px;
}
/* Align the secondary header to the center of the page. */
h2 {
  text-align: center;
}
/* Give the card body a min height of 30 percent of the viewport */
#card-body {
  min-height: 30%;
}
/* Give the text area a downward gradient opposite to background  */
#card-body textarea {
  background: linear-gradient(to bottom, black, cyan);
  color: white;
}
/* Set the default appearance to none for all potential web browser kits, set the width to the full size of the container, and add a bit of top and bottom padding. 
Set the font size relative to the parent element, align the text to the center, and add a bit of margin on top and bottom to inset default textbox text. Add a 
small rounded border to the box, disable user resizing, hide the text overflow, and set the box sizing to border-box to contain it within its parent element. */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 25%;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid transparent;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  box-sizing: border-box; /* Removing this will throw off the alignment for the textbox. This was an annoying problem I don't want to have to find the solution for again. */
}
/* Center the "generation" button container */
#card-footer {
  text-align: center;
}
/* Add some space between the textbox and bottom border, and make the border 2 pixels tall with a linear gradient opposite of the top*/
#card-footer::before {
  content: " ";
  display: block;
  background: linear-gradient(to left, cyan , black 80%);
  height: 2px;
}
/* Remove the button border, add a background color and a rounded border edge, and add an inset shadow 
set the text color to white, and set the font size and line height a bit taller so it fills the button better.
Add some margin and padding and set the cursor to pointer. */
#btn {
  border: none;
  background-color:#00e1ff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, .3) 0px 1vw 1vw 0px inset, rgba(0, 0, 0, .3) 0px 1vw 1vw
    0px inset;
    text-shadow: -1 -1 1vw #000,
                  1 -1 1vw #000,
                  -1 1 1vw #000,
                  1 1 1vw #000;
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  cursor: pointer;
}
/* Never used, but if button is disabled, this style will be set. Pre-existing code, not removing.  */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}
/* Set the rules for when the screen's max width hits 690px... */
@media (max-width: 690px) {
  /* And set the textbox font-size as well to a relative amount of the parent's font-size. */
  #password {
    font-size: 1.4rem;
  }
  /* Set the button font size to 1.2 times the parent element's font-size, and add a bit of margin and padding to keep the button nicely spaced when resized */
  .btn {
    font-size: 1.25rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}
/* ...and when it hits max-width of 500px, for extra small devices */
@media (max-width: 500px) {
  /* Set the button font size to a bit bigger than the 690px size, 1.25 times the parent element's font-size */
  .btn {
    font-size: 1.25rem;
  }
  #card-body {
    min-height: 30%;
  }
}
